/* General Styles */
.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px
    background-color: #cccccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.logo img{
    height:50px;
}
.nav-links {
    display: flex;
    gap: 20px;
    float: right;
}
.cta .btn:hover {
    background-color: #555555;
}
